@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Martian+Mono&family=Montserrat&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro';
}
body {
  padding: 10px;
  background-color: #0F0F23;
  color: white;
}
.nick {
  color: white;
}
.text {
  color: #47464E;
}
.star {
  font-size: 18px;
}
.silver {
  text-shadow: 0 0 5px #9999cc;
  color: #9999cc;
}
.golden {
  text-shadow: 0 0 5px #ffff66;
  color: #ffff66;
}

.title {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 10px;
}
.code-container {
  border: #47464E 1px solid;
  max-width: 100%;
  overflow: hidden;
}
.output-container {
  border: #47464E 1px solid;
}
.code-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.output {
  margin-bottom: 30px;
}
.code {
  overflow: auto;
}
.btn-start {
  padding: 4px 12px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  background-color:rgb(76, 255, 150);
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s background-color ease;
}
.btn-start:hover {
  background-color:rgb(0, 195, 81);
}

.header {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  justify-content: space-between;
}

.calendar {
  height: 25px;
  width: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}